*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    background-color: #1C1C1A;
    /* overflow-x: hidden; */

}
#page1{
    min-height: 110vh;
    width: 100vw;
    position: relative;
    background-color: #C2BAB1;
}
#page1 #nav{
    height: 5vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5vw;
    /* gap: 36vw; */
    border-bottom: 1.5px solid #575654;
    /* position: fixed; */

}
#page1 #nav h4{
    width: 30%;
    font-family: Editorial New Light;
    font-weight: 12;
    font-size: 13px;
}

#page1 #nav img{
    /* width: 9.5%;*/
    height: 1.4vw;
    width: 30%;
}
#page1 #nav i{
    /* width: 40px; */
    font-size: 1.5vw;
    width: 30%;
    text-align: right;

}
#page1 #page1-part2{
    height: 50vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.2vw 3vw;
}
#page1 #page1-part2 .page1-div{
    height: 100%;
    width: 33%;
    /* background-color: blue; */
    
}
#page1 #page1-part2 .page1-div .page1-imgpart{
    height: 55%;
    width: 85%;
   overflow: hidden;
   border: 1px solid black;


}
#page1 #page1-part2 .page1-div .page1-imgpart img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;

}

#page1 #page1-part2 .page1-div .page1-imgpart:hover img{
    scale: 1.2;
    cursor: pointer;
}
#page1 #page1-part2 .page1-div .page1-textpart{
    height: 40%;
    width: 85%;
    /* background-color: green; */
    margin-top: 1vw;
    
}
#page1 #page1-part2 .page1-div .page1-textpart h3{
    font-family:Canopee;
    font-weight: 36;
    /* letter-spacing: -2px; */
    font-size: 25px;

}
#page1 #page1-part2 .page1-div .page1-textpart h3 span{
    background-color: #B93C12;
    font-size: 18px;
    color: rgb(189, 175, 175);
    padding: 2px 2px;
    border-radius: 2px;
}
#page1 #page1-part2 .page1-div .page1-textpart p{
    font-family: Editorial New Light;
    font-size: 18px;  
    margin-top: 1vw;
    width: 110%;

}
#page1 #page1-part2 .page1-div #page1-div3{
    margin-left: 3vw;
}
#page1 #page1-part2 .page1-div #page1-textpart-2{
    height: 100%;
    width: 70%;
    /* background-color: aqua; */
    /* margin-left: 6.2vw; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    text-align: center;
}
#page1 #page1-part2 .page1-div #page1-textpart-2 h1{
    font-family:Canopee;
    font-weight: 36;
    font-size: 4vw;
    margin-bottom: 1vw;

}
#page1 #page1-part2 .page1-div #page1-textpart-2 h2{
    font-family: Editorial New Light;
    font-size: 2.5vw;
    font-weight: 12;
}
#page1 #page1-part2 .page1-div #page1-textpart-2 h4{
           margin-top: 2vw;
    font-family: Editorial New Light;
     font-weight: 12;
}
#page1 #page1-part2 .page1-div #page1-textpart-2 h4 span{
    font-family: Editorial New Light;
    font-weight: 900;
}
#page1 #page1-part2 #page1-div2{
 display: flex;
 align-items: center;
 justify-content: center;
 border-left: 1px solid black;
 border-right: 1px solid black;
} 
#page1 #page1-part3{
    height: 65vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#page1 #page1-part3 #page1-part3-text{
    height: 100%;
    width: 92%;
    background-color: #1C1C1A;
    text-align: center;
    /* margin-left: -2vw; */

}
#page1 #page1-part3 #page1-part3-text H1{
    color: #C6BEB5;
    font-family:Canopee;
    font-size: 35vw;
    /* text-align: center; */
    font-weight: 12;
    /* margin-bottom: 3vw; */
    letter-spacing: -25px;
    margin-top: -2.5vw;
}
#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #C6BEB5;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 2.5vw;


}
#page2 #page2-part1{
    height: 160vh;
    width: 35%;
    /* background-color: red; */
    border-right: 1px solid black;

}

#page2 #page2-part1 #page2-part1-div1{
    height: 39vh;
    width: 90%;
    /* background-color: green; */
    margin-top: 1vw;
    overflow: hidden;
    text-align: center;

}
#page2 #page2-part1 #page2-part1-div1 h1{
    font-family:Canopee;
    font-size: 8vw;
    font-weight: 12;
    letter-spacing: -6px;
    line-height: 130px;

}
#page2 #page2-part1 #page2-part1-div1 h1 span{
    font-size: 14vw;
}
#page2 #page2-part1 #page2-part1-div2{
    height: 72vh;
    width: 90%;
    /* background-color: aqua; */
    margin: 1vw 0;
    border: 1px solid black;
    

}
#page2 #page2-part1 #page2-part1-div2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page2 #page2-part1 #page2-part1-div3{
    height:18vh ;
    width: 90%;
    /* background-color: chartreuse; */
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 3vw;
}
#page2 #page2-part1 #page2-part1-div3 #page2-div1{
    height: 100%;
    width: 15%;
    /* background-color:hotpink; */
    /* padding: 1vw 0; */
    
}
#page2 #page2-part1 #page2-part1-div3 #page2-div2 h2{
    font-family: Editorial New Light;
    font-weight: 8;
    font-size: 2.2vw;
    letter-spacing: -1px;
    color: #1B1B19;


}
#page2 #page2-part1 #page2-part1-div3 #page2-div1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    color: white;
    background-color: #C6BEB5;

}
#page2 #page2-part1 #page2-part1-div3 #page2-div2{
    height: 100%;
    width: 85%;
    /* background-color: cornflowerblue; */
}
#page2 #page2-part1 #page2-part1-div4{
    height: 21vh;
    width: 90%;
    /* background-color: gold; */
}
#page2 #page2-part1 #page2-part1-div4 h2{
    font-family: Editorial New Light;
    font-weight: 8;
    font-size: 2.2vw;
    letter-spacing: -1px; 
    color: #1B1B19;

}

#page2 #page2-part2{
    height: 160vh;
    width: 62%;
    /* background-color: blue; */
    
    
  }
  #page2 #page2-part2 #page2-part2-div1{
    height: 56%;
    width: 100%;
    /* background-color: aqua; */
    margin-bottom: 3.1vw;
    border: 1px solid black;
  }
  #page2 #page2-part2 #page2-part2-div1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #page2 #page2-part2 #page2-part2-div2{
    height: 40%;
    width: 100%;
    /* background-color: chartreuse; */
  }
  #page2 #page2-part2 #page2-part2-div2 h1{
    font-family:Canopee;
    font-size: 8.3vw;
    letter-spacing: -5px;
    font-weight: 72;
    line-height: 115px;
    color: #1B1B19;

  }
  #page3{
    height: 50vh;
    width: 100%;
    position: relative;
    background-color: #C6BEB5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
  }
  #page3 #page3-div1{
    height: 100%;
    width: 73%;
    background-color: #1C1C1A;
  }
  #page3 #page3-div1 h1{
      font-size: 29vw;
    font-family:Canopee;
    font-weight: 12;
    color: #C3BBB2;
    letter-spacing: -24px;
    margin-top: -3vw;
    margin-left: 1vw;
  }
  #page3 #page3-div2{
    height: 100%;
    width: 25%;
    /* background-color: green; */
  }
  #page3 #page3-div2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* padding: 1vw 0; */
    /* margin: 1vw 0; */
  }
  #page4{
    height: 140vh;
    width: 100vw;
    background-color: #C3BBB2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 2vw;
    /* border-bottom: 1px solid black; */
  }
  #page4 #page4-div1{
    height: 100%;
    width: 65%;
    /* background-color: red; */
    border-right: 1px solid black;
    padding-right: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
  }
 
  #page4 #page4-div1 #page4-div11{
    height: 35%;
    width: 100%;
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #page4 #page4-div1 #page4-div11 #page4-div111{
    height: 100%;
    width: 46%;
    /* background-color: red; */
    border-right: 1px solid black;
  }
  #page4 #page4-div1 #page4-div11 #page4-div111 h1{
    font-family:Canopee;
    font-size: 5vw;
    font-weight: 12;
    letter-spacing: -6px;
    margin-top: 1vw;
    color: #1C1C19;


  }
  #page4 #page4-div1 #page4-div11 #page4-div111 h2{
    font-family: Editorial New Light;
     font-weight: 8;
     font-size: 2.5vw;
     color: #1C1B19;

  }
  #page4 #page4-div1 #page4-div11 #page4-div111 h4{
    font-family: Editorial New Light;
    margin-top: 1vw;
    font-size: 18px;
    font-weight: 18;
    color: #1C1B19;

  }
  #page4 #page4-div1 #page4-div11 #page4-div111 h4 span{
    font-family:Canopee;
    font-size: 20px;
    font-weight: 900;
    color: #1C1B19;
  }
  #page4 #page4-div1 #page4-div11 #page4-div112{
    height: 100%;
    width: 49%;
    /* background-color: green; */
  }
  #page4 #page4-div1 #page4-div11 #page4-div112 #page4-div112-imgpart{
    height: 50%;
    width: 100%;
    /* background-color: aqua; */
    border: 1px solid black;
    overflow: hidden;
  }
  #page4 #page4-div1 #page4-div11 #page4-div112 #page4-div112-imgpart img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
  }
  #page4 #page4-div1 #page4-div11 #page4-div112 #page4-div112-imgpart:hover img{
    scale: 1.2;
    cursor: pointer;

  }
  


#page4 #page4-div1 #page4-div11 #page4-div112 #page4-div112-textpart{
         height: 50%;
         width: 100%;
         /* background-color: chartreuse; */
         /* padding-top: 1vw; */
  }
  #page4 #page4-div1 #page4-div11 #page4-div112 #page4-div112-textpart h1{
    
    font-family:Canopee;
    font-weight: 12;
    letter-spacing: -2px;
    margin: 1vw 0;
    color: #1C1C1A;


  }
  #page4 #page4-div1 #page4-div11 #page4-div112 #page4-div112-textpart h2{
    font-family: Editorial New Light;

    font-weight:550;
    font-size: 18px;
    /* text-transform: capitalize; */
    letter-spacing: 0px;
    color: #3B3A36;


  }
  #page4 #page4-div1 #page4-div12{
    height: 65%;
    width: 100%;
    background-color: aqua;

  }
  #page4 #page4-div1 #page4-div12 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #page4 #page4-div2{
    height: 100%;
    width: 32%;
    /* background-color: blue; */
  }
  #page4 #page4-div2 #page4-div21{
    height: 30%;
    width: 100%;
    /* background-color: red; */
    margin-bottom: 1vw;

  }
  #page4 #page4-div2 #page4-div21 h1{
    font-family:Canopee;
    font-size: 7vw;
    font-weight: 12;
    letter-spacing: -6px;
    line-height: 130px;
    color: #1B1B19;


  }
  #page4 #page4-div2 #page4-div21 h1 span{
    font-weight: 12;
    font-size: 14vw;
    color: #1C1C19;
  }
  #page4 #page4-div2 #page4-div22{
          height: 14%;
          width: 100%;
          /* background-color: aqua; */
          display: flex;
          align-items: start;
          justify-content: space-between;
  }
  #page4 #page4-div2 #page4-div22 #page4-div221{
    height: 140px;
    width: 70px;
    /* background-color: #B93C12; */

  }
  #page4 #page4-div2 #page4-div22 #page4-div221 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #page4 #page4-div2 #page4-div22 #page4-div222{
    height: 130px;
    width:400px;
    /* background-color: darkorchid; */

  }
  #page4 #page4-div2 #page4-div22 #page4-div222 h4{
    font-family: Editorial New Light;
    font-weight: 18;
    font-size: 2.2vw;
    color: #1C1C19;
  }
#page4 #page4-div2 #page4-div25  {
    height: 5%;
    width: 100%;
    margin-bottom: 2vw;

    /* background-color: darksalmon; */
  }
  #page4 #page4-div2 #page4-div25  h4{
    font-family: Editorial New Light;
    font-weight: 18;
    font-size: 2.2vw;
    color: #1C1C19;

  }
  #page4 #page4-div2 #page4-div23{
    height: 25%;
    width: 100%;
    /* background-color: green; */
    /* padding: 2vw; */
    margin-bottom: 2vw;

  }
  #page4 #page4-div2 #page4-div23 h2{
    font-family: Editorial New Light;
    font-weight: 18;
    font-size: 2.2vw;
    letter-spacing: -1px;
    color: #1C1C19;
   

  }
  #page4 #page4-div2 #page4-div24{
    height: 20%;
    width: 100%;
    /* background-color: chartreuse; */
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;

  }
  #page4 #page4-div2 #page4-div24 h1{
    font-family:Canopee;

        font-size: 80px;
        color: #1C1C19;
        width: 100%;
        height: 100%;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content:space-between;
        transform: translateX(-26%);
        transition: all ease 0.4s;
        
  
  }
  #page4 #page4-div2 #page4-div24 img{
    height: 60px;
    transform: translateX(-120%);
    transition: all ease 0.6s;


  }
  #page4 #page4-div2 #page4-div24:hover img{
    transform: translateX(75%);

    
  }
  #page4 #page4-div2 #page4-div24:hover h1{
    transform: translateX(107%);

    
  }
  #page5{
    height: 25vh;
    width: 100%;
    background-color: #C2BAB1;
  padding: 0 2vw;

    
    
  }
#page5 #page5-text{
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  border-top:1px solid black ;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;


}
#page5 #page5-text #page5-text1{
   height: 100%;
   width: 25%;
   /* background-color: chartreuse; */
   display: flex;
   align-items: center;
   justify-content: center;
}
 .page5-text11{
  height: 80%;
  width: 60%;
  /* background-color: green; */
}
 .page5-text11 h2{
  font-family: Editorial New Light;
  text-align: center;
  font-weight: 12;
  color: #1C1C19;
  letter-spacing: -1px;



}
 .page5-text11 h1{
  font-family:Canopee;
  font-weight: 12;
  font-size: 5vw;
  text-align: center;
  color: #1C1C19;


}
 .page5-text12{
  height: 80%;
  width: 40%;
  /* background-color: brown; */

}
 .page5-text12 h1{
  font-family:Canopee;
  font-size: 13vw;
  font-weight: 1;
  /* text-align: center; */
  margin-top: -2vw;
  color: #1C1C19;
}
#page5 #page5-text #page5-text2{
  height: 100%;
   width: 25%;
   /* background-color: chartreuse; */
   display: flex;
   align-items: center;
   justify-content: center;

}
#page5 #page5-text #page5-text3{
  height: 100%;
   width: 25%;
   /* background-color: chartreuse; */
   display: flex;
   align-items: center;
   justify-content: center;

}
#page5 #page5-text #page5-text4{
  height: 110%;
   width: 25%;
   /* background-color: chartreuse; */
   display: flex;
   align-items: center;
   justify-content: center;

}
#page6{
  height: 120vh;
  width: 100vw;
  background-color: #C2BAB1;
  position: relative;
  padding: 0 2vw;
  padding-top: 2vw;
  padding-bottom: 1vw;

}
#page6 #page6-div{
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
#page6 #page6-div #page6-div1{
  height: 100%;
  width: 50%;
  /* background-color: red; */
}
#page6 #page6-div #page6-div1 #page6-div11{
    height: 48%;
    width: 100%;
    /* background-color: firebrick; */
    margin-bottom: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page6 #page6-div #page6-div1 #page6-div111{
  height: 100%;
  width: 30%;
  /* background-color: green; */
  border: 1px solid black;

}
#page6 #page6-div #page6-div1 #page6-div111 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#page6 #page6-div #page6-div1 #page6-div112{
     height: 100%;
     width: 70%;
     /* background-color:yellow; */
     display: flex;
     align-items: center;
     justify-content: center;
}
#page6 #page6-div #page6-div1 #page6-div112 h1{
  font-family:Canopee;
  font-weight: 12;
  font-size: 32vw;
  letter-spacing: -20px;
  color: #1B1B19;
}
#page6 #page6-div #page6-div1 #page6-div12{
  height: 48%;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#page6 #page6-div #page6-div1 #page6-div12 h1{
  font-family:Canopee;
  font-weight: 12;
  font-size: 32vw;
  letter-spacing: -20px;
  margin-left: -2vw;
  color: #1B1B19;
  
}
#page6 #page6-div #page6-div2{
  height: 95%;
  width: 50%;
  /* background-color: green; */
  border: 1px solid black;
}
#page6 #page6-div #page6-div2 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page7{
  height: 40vh;
  width: 100vw;
  position: relative;
  background-color: #C2BAB1;
  padding: 0 2vw;

}
#page7 #page7-div{
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#page7 #page7-div #page7-div1{
height: 100%;
width: 30%;
/* background-color:red; */
border: 1px solid black;
}
#page7 #page7-div #page7-div1 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#page7 #page7-div #page7-div2{
  height: 100%;
  width: 70%;
  /* background-color: green; */
}
#page7 #page7-div #page7-div2 h1{
  font-family:Canopee;
  font-weight: 12;
  font-size: 27vw;
  letter-spacing: -20px;
  margin-top: -4.5vw;
  color: #1B1B19;
}
#page8{
  height: 55vh;
  width: 100vw;
  background-color: #C2BAB1;
  position: relative;
  padding: 2vw 2vw;
}
#page8 #page8-div{
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#page8 #page8-div #page8-div11{
  height: 100%;
  width: 60%;
  background-color: #1B1B19;

}
#page8 #page8-div #page8-div11 h1{

  font-family:Canopee;
 font-weight: 12;
 font-size: 25vw;
 color: #C2BAB1;
 letter-spacing: -20px;
 margin-top: -2vw;
}
#page8 #page8-div #page8-div12{
   height: 100%;
   width: 40%;
   /* background-color: red; */
}
#page8 #page8-div #page8-div12 h2{
  font-family: Editorial New Light;
 font-weight: 12;
 font-size: 2vw;
 line-height: 33px;
 color: #1C1B19;

}
#page8 #page8-div #page8-div12 h1{
  font-family:Canopee;
  font-weight: 12;
  font-size: 9vw;
  letter-spacing: -10px;
  color: #1C1B19;

}

#page9{
  height: 50vh;
  width: 100%;
  background-color: #C2BAB1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.2vw 3vw;
  border-top: 1px solid #928C85;
}
#page9  .page9-div{
  height: 100%;
  width: 33%;
  /* background-color: blue; */
  
}
#page9 .page9-div .page9-imgpart{
  height: 55%;
  width: 85%;
 overflow: hidden;
 border: 1px solid black;


}
#page9  .page9-div .page9-imgpart img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;

}

#page9 .page9-div .page9-imgpart:hover img{
  scale: 1.2;
  cursor: pointer;
}
#page9 .page9-div .page9-textpart{
  height: 40%;
  width: 85%;
  /* background-color: green; */
  margin-top: 1vw;
  
}
#page9 .page9-div .page9-textpart h3{
  font-family:Canopee;
  font-weight: 36;
  /* letter-spacing: -2px; */
  font-size: 25px;

}
#page9 .page9-div .page9-textpart h3 span{
  background-color: #B93C12;
  font-size: 18px;
  color: rgb(189, 175, 175);
  padding: 2px 2px;
  border-radius: 2px;
}
#page9 .page9-div .page9-textpart p{
  font-family: Editorial New Light;
  font-size: 18px;  
  margin-top: 1vw;
  width: 110%;

}
#page9 .page9-div #page9-div3{
  margin-left: 3vw;
}
#page9  .page9-div #page9-textpart-2{
  height: 100%;
  width: 70%;
  /* background-color: aqua; */
  /* margin-left: 6.2vw; */
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  text-align: center;
}
#page9  .page9-div #page9-textpart-2 h1{
  font-family:Canopee;
  font-weight: 36;
  font-size: 4vw;
  margin-bottom: 1vw;

}
#page9  .page9-div #page9-textpart-2 h2{
  font-family: Editorial New Light;
  font-size: 2.5vw;
  font-weight: 12;
}
#page9  .page9-div #page9-textpart-2 h4{
         margin-top: 2vw;
  font-family: Editorial New Light;
   font-weight: 12;
}
#page9  .page9-div #page9-textpart-2 h4 span{
  font-family: Editorial New Light;
  font-weight: 900;
}
#page9  #page9-div2{
display: flex;
align-items: center;
justify-content: center;
border-left: 1px solid black;
border-right: 1px solid black;
} 

#page10{
  height: 22vh;
  width: 100vw;
  background-color: #C2BAB1;
  padding: 0 2vw;
  /* border-bottom: 1px solid black; 
 border-top:1px solid black ; */
}
#page10 #page10-div{
  height: 100%;
  width: 100%;
  /* background-color: red; */
  border-top: 1px solid #C2BAB1 ;
  border-bottom: 1px solid #C2BAB1 ;
 border-bottom: 1px solid #1C1C19; 
 border-top:1px solid #1C1C19;
 display: flex;
 align-items: center;
 justify-content: center;
 white-space: nowrap;
 overflow-x: auto;
 overflow-y: hidden;

}
#page10 #page10-div::-webkit-scrollbar{
  display: none;
}
#page10 #page10-div h1{
  font-family: Editorial New Light;
  font-size: 6vw;
  font-weight: 12;
  letter-spacing:-4px;
  color: #1C1C1A;
  display: inline-block;
  /* background-color: red; */
  margin-right: 20px;
  animation-name: scroll;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#page10 #page10-div span{
  background-color: #1C1B19;
  color: #C8C0B7;
  font-family:Canopee;
  letter-spacing:0;
 
 font-size: 6vw;
 font-weight: 12;
 margin: 0 1vw;
 padding: 0vw 1vw;
}
@keyframes scroll {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-100% - 20px));
  }
  
}
#page10:hover h1{
  animation-play-state: paused;
  color: #C8C0B7;
}
#page11{
  height: 10vh;
  width: 100vw;
  background-color: #C2BAB1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
}
#page11 #page11-div1{
display: flex;
align-items: center;
justify-content: space-between;
gap: 15px;
}
#page11 #page11-div1 h5{
  font-family: Editorial New Light;
 font-weight: 12;
 font-size: 1.4vw;
 color: #3B3A35;

}
#page11 #page11-div1 img{
  height: 45px;
}
#page11 #page11-div2{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#page11 h2{
  font-family:Canopee;
  font-weight: 12;
  color: #1C1B19;
  letter-spacing: -1px;
  font-size: 1.4vw;
}
#page11 #page11-div2 i{
  font-size: 7px;
  text-align: center;
  margin: 0 0.5vw;
}